.ThemeSwitcher {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.input {
  height: 0;
  width: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background-color: var(--bg-color);
  transition: 0.4s;
  &::before{
    content: '';
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: 0.4s;
  }
}

.input:focus + slider {
  box-shadow: 0 4px 8px 0 var(--primary-color);
}

.input:checked + slider {
  background-color: var(--primary-color);
}

.input:checked + .slider::before {
  transform: translateX(26px);
}

