.Button {
    cursor: pointer;
    padding: 0.3125rem 0.625rem;
}

.clear {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
}

.light {
    color: var(--secondary-color);
}
