.app.light {
  --bg-color: #B6B5B5CC;
  --inverted-bg-color: #2b2b2b;

  --primary-color: #202020;
  --secondary-color: #818181;

  --inverted-primary-color: #a1a0a0;
  --inverted-secondary-color: #cccccc;
}